#action{
      background: url('../images/home/tour-bg.png') fixed;
      padding:2%;
      width:100%;
      background-color:#fbfafa;
          .tour-button{
            background: url('../images/home/tour-icon2.png') no-repeat;
            padding:11% 50%;
            left:20px;
            position:relative;
              .btn{
                position: relative;
                right:400px;
              }
          }
        }
 
 